<% layout('layouts/boilerplate') %>
    <h1>All Recordstores</h1>
    <div>
        <a href="recordstores/new">New recordstore</a>
    </div>
        <% for(let store of recordstore){ %>
            <div class="card" mb-3>
                <div class="row">
                    <img class="img-fluid" src="<%= store.image %>" alt="Record store">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= store.title %></h5>
                        <p class="card-text"><%= store.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= store.location %></small>
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary" href="/recordstores/<%= store._id %>"><%=store.title%></a>
            </div>
        <% } %>