<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%= recordstore.image %>" class="card-img-top" alt="Image of recordstore">
                <div class="card-body">
                    <h5 class="card-title"><%= recordstore.title %></h5>
                    <p class="card-text"><%= recordstore.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= recordstore.location %></li>
                    <li class="list-group-item">Submitted by: <%= recordstore.author.username %></li>
                </ul>
                <% if(currentUser && recordstore.author.equals(currentUser._id)){ %>
                    <div class="card-body">
                        <a href="/recordstores/<%= recordstore.id %>/edit" class="card-link btn btn-warning">Edit record store</a>
                        <form class="d-inline" action="/recordstores/<%= recordstore._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-6">
            <% if(currentUser) { %>
                <h2>Review <%= recordstore.title %></h2>
                <form class="mb-3 valid-form" action="/recordstores/<%= recordstore._id %>/reviews" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5"> 
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" required></textarea>
                    </div>
                    <input class="btn btn-success" type="submit" value="Submit">
                </form>
            <% } %>
            <div class="mb-3">
                <h3>Previous reviews of <%= recordstore.title %></h3>
                <% for(let review of recordstore.reviews) { console.log(review.author)%>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-text"><%= review.rating %> / 5</h5>
                            <h6 class="card-text"><%= review.author.username %> </h6>
                            <p class="card-text"><%= review.body %></p>
                            <form action="/recordstores/<%= recordstore.id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <footer>
            <a href="/recordstores">All recordstores</a>
        </footer>
    </div>
    

    